
.form-input + .form-radio {
  margin-top: 18px;
}

.radiog-label {
  display: block;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 10px;
}

.radiog-wrap,
.radio-wrapper {
  display: flex;
}

.radiog-wrap {
  flex-wrap: wrap;
}

.radiog-error {
  color: #f5222d;
  font-size: 14px;
  line-height: 18px;
  margin: 12px 0 0;
}

.radio-wrapper {
  flex: 1;
  min-width: 200px;

  padding: 6px 0;
  margin-right: 20px;


  cursor: pointer;
  position: relative;

  align-items: center;
  box-sizing: border-box;
}

.radio input {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  position: absolute;

  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.radio-inner {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: #fff;
  border: 1px solid #d9d9d9;

  border-radius: 100px;
  margin-right: 14px;
}

.radio-inner::after {
  content: '';
  opacity: 0;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border-radius: 8px;
  transition: .3s ease;

}

.radio input:checked + .radio-inner::after {
  opacity: 1;
  transform: scale(1);
  transition: .3s cubic-bezier(.78, .14, .15, .86);
}
