.form-input {
  display: flex;
  flex-direction: column;
}

.form-input + .form-input {
  margin-top: 18px;
}

.form-input-label {
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-input-input {
  padding: 10px 12px;
  border: 0.5px solid #ADADAD;

  border-radius: 4px;
  transition: .3s ease;
}

.form-input-input:focus {
  border-color: #16b9ff;
  box-shadow: 0 1px 6px #16b9ff33;
}

.form-error .form-input-input {
  border-color: #f5222d;
}

.form-error .form-input-input:focus {
  box-shadow: 0 1px 6px #f5222d55;
}

.form-input-error {
  color: #f5222d;
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0 0;
}