.ticket {
  padding: 17px 0 13px;

  font-size: 12px;
  line-height: 14px;

  display: flex;
  flex-direction: row;

  user-select: none;
}

.ticket + .ticket {
  border-top: 1px solid #ebebeb;
}

.ticket-left {
  flex: 2;
}

.ticket-right {
  flex: 1.5;
}

.ticket h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.ticket p {
  color: #bbb;
  margin: 10px 0 8px;
}

.ticket-price {
  color: #16B9FF;
  display: inline-block;
  margin-right: 6px;
  line-height: 21px;
}

.ticket-price i {
  font-style: normal;
}

.ticket-price::first-letter {
  font-size: 18px;
}

.ticket-remain {
  color: #E23B3B;
}

.ticket-right {
  display: flex;
  align-items: center;
}

.ticket-select {
  flex: 1;

  height: 38px;
  display: flex;
  flex-direction: row;
}

.ticket-nums {
  color: #000;
  font-weight: bold;
}

.ticket-nums input {
  font-size: 18px;
  border: none;

  width: calc(100% - 2px);
  height: calc(100% - 2px);

  text-align: center;

  appearance: textfield;
  -moz-appearance: textfield;
}

.ticket-nums input::-webkit-inner-spin-button,
.ticket-nums input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ticket-reduce,
.ticket-nums,
.ticket-add {
  position: relative;
  flex: 1;

  border: 1px solid #C5C5C5;
}

.ticket-nums {
  border-left: none;
  border-right: none;
}

.ticket-reduce,
.ticket-add {
  cursor: not-allowed;
  transition: .3s ease;
}

.ticket-reduce {
  border-radius: 4px 0 0 4px;
}

.ticket-add {
  border-radius: 0 4px 4px 0;
}

.ticket-reduce::before,
.ticket-add::before,
.ticket-add::after {
  content: '';
  display: block;
  height: 2px;
  width: 16px;
  background: #CACACA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticket-add::after {
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
}

.ticket-add.is-active:hover,
.ticket-reduce.is-active:hover {
  border-color: #16B9FF;
  background: #16B9FF17;
}

.is-active {
  cursor: pointer;
}

.is-active::before,
.is-active::after {
  background: #16B9FF;
}

.ticket-loading {
  font-size: 22px;
  text-align: center;
  padding: 60px 0;
}