.modal {
  position: fixed;

  top: 50%;
  left: 50%;


  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  color: #fff;
  background: #16b9ffcc;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 4px;

  z-index: 99;
  transition: .3s ease;
}

.modal-hidden {
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -75%);
  transition: .3s ease;
}

.modal svg {
  font-size: 28px;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 50%;
}

.modal-description {
  margin-top: 12px;
  font-size: 12px;
}