.footer {
  height: 64px;

  bottom: 0;
  position: fixed;

  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  line-height: 16px;

  padding: 10px 17px 8px;
  background: #fff;

  box-sizing: border-box;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left p {
  margin: 0;
  display: flex;
  align-items: center;

  margin-bottom: 4px;
}

.footer-left-color {
  padding: 0 .4rem;

  color: #16b9ff;
  font-weight: bold;
}

.footer-left-size {
  font-size: 20px;
  line-height: 23px;
}

.footer-submit {
  cursor: pointer;


  color: #fff;
  font-size: 18px;
  line-height: 21px;

  width: 100%;
  height: 48px;
  border: none;

  background-color: #16b9ff;

  border-radius: 4px;
  transition: .3s ease;
}

.footer-submit:hover {
  background-color: #4fcaff;
}

.footer-submit:active {
  background-color: #16b9ff;
  box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, .28);
}

.footer-submit:focus {
  outline:none;
}

.footer-submit::-moz-focus-inner {
  border: 0;
}
