@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}

.anticon-spin {
  margin-right: 6px;
  vertical-align: middle;
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
}