body {
  color: #333;
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  background-color: #e5e5e5;
}

html, body {
  height: 100%;
}

.body {
  background: #fff;
}

.App {
  background: #f4f4f4;
  margin: 50px auto 60px auto;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,.15);
  max-width: 500px;
  display: block;
  overflow: visible;
  position: relative;
}

.body, .header {
  padding: 0 17px;
}

.header {
  margin: 20px 0 14px;
}

.header h2 {
  color: #666666;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
}

.form {
  overflow: hidden;
}

.form-body {
  padding: 21px 17px;
}

.tickets-error {
  color: #f5222d;
  font-size: 14px;
}
